.wrap {
  @include xs {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $light-color;
    background-color: red;
    color: blue;
    transition: all 0.2s linear;
    .app {
      background-color: $white;

      .navigation_bar {
        background-color: darken($color: $light-color, $amount: 3%);
      }
    }
    &.dark {
      background-color: $dark-color;
      color: $text-dark-theme;
      .app {
        background-color: lighten($color: $dark-color, $amount: 5%);
        .navigation_bar {
          background-color: $dark-color;
        }
      }
    }
  }
  @include md {
  }
}

.app {
  @include xs {
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    box-shadow: $shadow;
    height: 90vh;
    max-height: 90vh;
    overflow: hidden;
    position: relative;
    .app_content {
      height: 100%;
      padding-bottom: 40px;
    }
  }

  @include md {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-gap: 20px;
    position: static;
    &_content {
      grid-column: 2 / 12;
    }
  }

  @include lg {
    width: 60%;
  }
}
