@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap);

$font-stack: "Quicksand", sans-serif;
$white: white;

$light-color: #f2f3fa;
$text-white-theme: #353645;

$dark-color: #232b4b;
$text-dark-theme: #b5cff4;

$primary-color: #2c88dd;
