@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap);

$font-stack: "Quicksand", sans-serif;
$white: white;

$light-color: #f2f3fa;
$text-light-theme: #353645;

$dark-color: #232b4b;
$text-dark-theme: #b5cff4;

$primary-color: #54b7c0;

$red-color: #e43e59;

$text-sm: 14px;

$text-md: 16px;

$text-lg: 20px;

$text-xl: 24px;

$text-2xl: 35px;

$font-light: 300;
$font-md: 400;

$font-bold: 600;
